@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html{
    scroll-behavior: smooth;
}
*{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* color:black; */
}
:root {
  --blue: #2B8CAC;
  --white: #ffffff;
  --green:#2B8778;
}
img{
  width: 100%;
}
body{
  position: relative;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(images/texture.jpg);
}
.d-f{
  display: flex;
}
.jcc{
  justify-content: center;
}
.button{
  padding: 10px 20px;
  background-image: url(images/green.jpeg);
  border-radius: 30px;
}
.hero{
  height: 100vh;
}
nav{
  font-weight: 800;
  font-size: 1.15rem;
  padding: 40px 70px;
  position: absolute;
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-right{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right a{
  color: #F9F5E8;
}
.main{
  display: flex;
}
.left{
  flex: 2;
  padding: 130px 20px 0px 70px;
  /* background-image: url(images/texture.jpg); */
  opacity: .75  ;
}
.left h1{
  font-size: 4rem;
}
.left h3{
  font-size: 2rem;
  margin-bottom: 10px;
}
.right{
  flex: 2;
  background-image: url(images/blue.jpeg);
  height: 100vh;
  padding: 130px 70px 0px 0px;
  position: relative;
}
.right-img{
  background-image: url(images/iedc.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.about{
  width: 100%;
  padding: 20px 70px;
  background-image: url(images/green.jpeg);
  /* background-color: #00715D; */
  display: flex;
  justify-content: space-around;
}
.card{
  width: 400px;
  padding: 10px 70px;
  display: flex;  
  justify-content: center;
  align-items: center;
}
.card-img{
  padding: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img i{
  font-size: 64px;
  color: white;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.card-content h1{
  font-size: 2rem;
}
.community{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(images/texture.jpg);
  padding: 70px;
  display: flex;
  gap: 1rem;
}
.com-left{
  flex: 4;
}
.com-left h1 ,p{
  opacity: .75;
  margin-bottom: 1rem;
}
.com-left h1{
  font-size: 4rem;
}
.com-img{
  display: flex;
  gap: 1rem;
}
.com-right{
  flex: 2;
  width: 100%;
  background-image: url(images/RHK03426.jpg);
  background-size: cover;
}
.team{
  padding: 70px;
  background: url(images/green.jpeg);
}
.team h1{
  text-align: center;
  font-size: 3rem;
  color: white;
}
.team-container{
  display: flex;
  justify-content: space-around;
  gap: 1.4rem;
  flex-wrap: wrap;
}
.lead-container{
  padding: 10px;
  width: 200px;
 
}
.lead-img img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.lead-content{
  text-align: center;
  color: white;
}
.about-us{
  padding: 70px;
  display: flex;
}
.about-left{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/blue.jpeg);
  
}
.about-left img{
  width: 80%;
}
.about-right{
  flex: 2;
  padding: 50px 50px 50px 0px;
}
.about-right p{
  margin-top: 30px;

}
.right-container{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding: 30px;
  opacity: .75;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right-container h1{
  font-size: 3rem;
  margin-bottom: 10px;
}
.under-line{
  width: 100px;
  height: 3px;
  background-color: black;
  margin-bottom: 10px;
  opacity: .5;
  border-radius: 5px;
}
.contact{
  display: flex;
  justify-content: space-between;
  background: url(images/pink.jpeg);
  padding: 50px 70px 30px 70px;
}
.float-card{
  width: 400px;
  height: 500px;
  background-color: #fff;
  margin-top: -150px;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding: 50px 20px;
}
.contact-container{
  width: 450px;
  color: rgb(0, 0, 0);
}
.contact-container h1{
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.contact-container h3{
  font-size: 1.5rem;
  margin-bottom: 35px; 
}
.social-media > a{
 font-size: 32px;
 color: rgb(0, 0, 0);
 margin-right: 10px;
}
.float-card >i{
  font-size: 32px;
  color: black;
}
.float-card >a {
  color: black;
}